.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

    & .sidebar {
        grid-row: 1 / 3;
        background-color: hsl(196, 96%, 45%);
        padding: 15px;
        color: hsl(0, 0%, 100%);
        font-weight: 500;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        gap: 40px;

        & .logo {
            font-size: 25px;
        }

        & .menu {
            font-size: 20px;

            & ul > li {
                margin-bottom: 15px;
            }
        }
    }

    & .header {
        padding: 0 45px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;

        & .search-bar > input {
            padding: 4px;
            width: 750px;
            background-color: hsl(255, 5%, 87%);
            border: none;
            border-radius: 25px;
        }

        & .bell-and-profile {
            justify-self: center;
            font-size: 18px;
            font-weight: bold;
        }

        & .greeting-text {
            font-weight: bold;

            & .user-greeting {
                font-size: 15px;
            }

            & .user-name {
                font-size: 20px;
            }
        }

        & .buttons > ul {
            display: flex;
            justify-content: center;
            gap: 25px;

            & li > button {
                padding: 8px;
                width: 105px;
                background-color: hsl(196, 96%, 45%);
                border: none;
                border-radius: 25px;
                color: white;
                font-weight: 500;
            }
        }
    }
}