.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

    & .sidebar {
        grid-row: 1 / 3;
        background-color: hsl(196, 96%, 45%);
        padding: 15px;
        color: hsl(0, 0%, 100%);
        font-weight: 500;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        gap: 40px;

        & .logo {
            font-size: 25px;
        }

        & .menu {
            font-size: 20px;

            & ul > li {
                margin-bottom: 15px;
            }
        }
    }
}