:root {
    --blue-background-color: hsl(196, 96%, 45%);
    --grey-background-color: hsl(257, 18%, 92%);
    --box-shadow-color: hsl(0, 1%, 75%);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content;

    & .icon {
        width: 30px;
    }

    & .sidebar {
        grid-row: 1 / 3;
        padding: 15px;
        background-color: var(--blue-background-color);
        box-shadow: 2px 0 2px var(--box-shadow-color);
        z-index: 1;
        color: hsl(0, 0%, 100%);
        font-weight: bold;
        display: grid;
        grid-template-columns: 60px 5fr;
        grid-template-rows: repeat(3, min-content);
        align-items: center;
        gap: 40px 10px;

        & .logo-icon {
            width: 60px;
            height: auto;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(184deg) brightness(116%) contrast(101%);
        }

        & .logo-text {
            font-size: 28px;
        }

        & .menu li {
            margin-bottom: 20px;
        }            
            
        & .menu-icons {
            justify-self: center;
        
            & .icon {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(184deg) brightness(116%) contrast(101%);
            }
        }

        & .menu-items {
            font-size: 20px; 
        }
    }

    & .header {
        padding: 20px 45px;
        box-shadow: 0 3px 5px var(--box-shadow-color);
        z-index: 1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: 30px;

        & .search-bar {
            display: flex;
            gap: 15px;

            & > input {
                padding: 5px;
                width: 750px;
                background-color: var(--grey-background-color);
                border: none;
                border-radius: 25px;
            }
        }

        & .bell-and-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;

            & .user-name {
                font-size: 18px;
                font-weight: bold;
            }

        }

        & .greeting-text {
            font-weight: bold;

            & .user-greeting {
                font-size: 15px;
            }

            & .user-name {
                font-size: 20px;
            }
        }

        & .buttons > ul {
            display: flex;
            justify-content: center;
            gap: 25px;

            & li > button {
                padding: 8px;
                width: 105px;
                background-color: var(--blue-background-color);
                border: none;
                border-radius: 25px;
                color: hsl(0, 0%, 100%);
                font-weight: 500;
            }
        }
    }

    & .main-content {
        padding: 25px 40px 25px 25px;
        background-color: var(--grey-background-color);
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(2, min-content);
        column-gap: 25px;

        & .heading {
            font-weight: 500;
        }

        & .section-heading {
            margin-bottom: 8px;
            font-size: 21px;
        }

        & .card {
            background-color: hsl(0, 0%, 100%);
            border-radius: 10px;                    
            box-shadow: 3px 3px 5px var(--box-shadow-color);

            & .content {
                color: hsl(0, 0%, 50%);
            }
        }

        & .projects-section {
            grid-row: 1 / 3;

            & .project-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;

                & .project-card {
                    height: 220px;
                    padding: 30px 25px;
                    border-left: 10px solid hsl(46, 100%, 53%);

                    & .project-name {
                        font-size: 19px;
                    }
                }
            }
        }

        & .announcements-section .announcements-card {
            padding: 10px 30px;

            & .announcement {
                padding: 15px 5px;

                & .announcement-content {
                    font-size: 14px;
                }
            }

            & > hr {
               border: 1px solid hsl(0, 0%, 85%);
            }
        }

        & .trending-section {
            align-self: end;

            & .trending-card {
                padding: 20px;

                & .trending-user + .trending-user {
                    margin-top: 20px;
                }
            }
        }
    }
}