.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px;

    & .sidebar {
        grid-row: 1 / 3;
        background-color: hsl(196, 96%, 45%);
        padding: 15px;
        box-shadow: 2px 0 2px hsl(0, 1%, 75%);
        z-index: 1;
        color: hsl(0, 0%, 100%);
        font-weight: 500;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        gap: 40px;

        & .logo {
            font-size: 25px;
        }

        & .menu {
            font-size: 20px;

            & ul > li {
                margin-bottom: 15px;
            }
        }
    }

    & .header {
        padding: 10px 45px;
        box-shadow: 0px 3px 5px hsl(0, 1%, 75%);
        z-index: 1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        gap: 10px;

        & .search-bar > input {
            padding: 5px;
            width: 750px;
            background-color: hsl(257, 18%, 92%);
            border: none;
            border-radius: 25px;
        }

        & .bell-and-profile {
            justify-self: center;
            font-size: 18px;
            font-weight: bold;
        }

        & .greeting-text {
            font-weight: bold;

            & .user-greeting {
                font-size: 15px;
            }

            & .user-name {
                font-size: 20px;
            }
        }

        & .buttons > ul {
            display: flex;
            justify-content: center;
            gap: 25px;

            & li > button {
                padding: 8px;
                width: 105px;
                background-color: hsl(196, 96%, 45%);
                border: none;
                border-radius: 25px;
                color: white;
                font-weight: 500;
            }
        }
    }

    & .main-content {
        padding: 25px 40px 25px 25px;
        background-color: hsl(257, 18%, 92%);
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(2, min-content);
        column-gap: 25px;

        & .section-header {
            margin-bottom: 8px;
            font-size: 21px;
            font-weight: 500;
        }

        & .projects-section {
            grid-row: 1 / 3;

            & .project-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;

                & .card {
                    height: 220px;
                    padding: 30px 25px;
                    background-color: white;
                    border-radius: 10px;
                    border-left: 10px solid hsl(46, 100%, 53%);

                    & .project-name {
                        font-size: 19px;
                        font-weight: 500;
                    }

                    & .project-description {
                        color: hsl(0, 0%, 50%);
                    }
                }
            }
        }

        & .announcements-section > .announcement-container {
            padding: 10px 30px;
            background-color: white;
            border-radius: 10px;

            & .announcement {
                padding: 15px 5px;

                & .announcement-title {
                    font-weight: 500;
                }

                & .announcement-content {
                    font-size: 14px;
                    color: hsl(0, 0%, 50%);
                }
            }

            & hr {
               border: 1px solid hsl(0, 0%, 85%);
            }
        }

        & .trending-section {
            align-self: end;

            & .trending-container {
                padding: 20px;
                background-color: white;
                border-radius: 10px;

                & .trending-user + .trending-user {
                    margin-top: 20px;
                }

                & .trending-project {
                    color: hsl(0, 0%, 50%);
                }
            }
        }
    }
}