@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue-background-color: hsl(196, 96%, 45%);
    --grey-background-color: hsl(257, 18%, 92%);
    --box-shadow-color: hsl(0, 1%, 75%);
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content;

    & .icon {
        width: 30px;
        height: auto;
    }

    & .profile-picture > img {
        width: 45px;
        height: auto;
        border-radius: 25px;
    }

    & .sidebar {
        grid-row: 1 / 3;
        padding: 15px;
        background-color: var(--blue-background-color);
        box-shadow: 2px 0 2px var(--box-shadow-color);
        z-index: 1;
        color: hsl(0, 0%, 100%);
        font-family: "Open Sans Bold";
        display: grid;
        grid-template-columns: 60px auto;
        grid-template-rows: repeat(3, min-content);
        gap: 40px 10px;

        & .icon {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(184deg) brightness(116%) contrast(101%);
        }

        & .logo-icon {
            width: 60px;
        }

        & .logo-text {
            align-self: center;
            font-size: 28px;
        }

        & .menu li {
            margin-bottom: 20px;
            cursor: pointer;
        }            
            
        & .menu-icons {
            justify-self: center;
        }

        & .menu-items {
            font-size: 20px; 
        }
    }

    & .header {
        padding: 15px 45px;
        box-shadow: 0 3px 5px var(--box-shadow-color);
        z-index: 1;                
        font-family: "Open Sans Bold";
        display: grid;
        grid-template-columns: minmax(450px, 2fr) minmax(450px, 1fr);
        align-items: center;
        gap: 30px;

        & .search-bar {
            display: flex;
            gap: 15px;

            & > input {
                padding: 5px 10px;
                width: min(750px, 90%);
                background-color: var(--grey-background-color);
                border: none;
                border-radius: 25px;
            }
        }

        & .bell-and-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            & .icon {
                cursor: pointer;
            }

            & .user-name {
                font-size: 18px;
            }

        }

        & .greeting-message {
            display: grid;
            grid-template-columns: 60px auto;
            column-gap: 20px;

            & .profile-picture {
                grid-row: 1 / 3;

                & > img {
                    width: 60px;
                    border-radius: 30px;  
                }

            }

            & .user-greeting {
                font-size: 15px;
            }

            & .user-name {
                font-size: 23px;
            }
        }

        & .buttons > ul {
            display: flex;
            justify-content: center;
            gap: 25px;

            & li > button {
                padding: 8px;
                width: 105px;
                background-color: var(--blue-background-color);
                border: none;
                border-radius: 25px;
                cursor: pointer;
                color: hsl(0, 0%, 100%);
                font-family: "Open Sans Semibold";
            }
        }
    }

    & .main-content {
        padding: 20px 40px 20px 25px;
        background-color: var(--grey-background-color);
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(2, min-content);
        gap: 25px;

        & .heading {
            font-family: "Open Sans Semibold";
        }

        & .section-heading {
            margin-bottom: 8px;
            font-size: 20px;
        }

        & .card {
            background-color: hsl(0, 0%, 100%);
            border-radius: 10px;                    
            box-shadow: 3px 3px 5px var(--box-shadow-color);

            & .content {
                color: hsl(0, 0%, 50%);
            }
        }

        & .projects-section {
            grid-row: 1 / 3;

            & .project-cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
                gap: 25px;

                & > a {
                    text-decoration: none;
                    color: canvastext;
                }

                & .project-card {
                    height: 220px;
                    padding: 30px 25px;
                    border-left: 10px solid hsl(46, 100%, 53%);
                    display: flex;
                    flex-direction: column;

                    & .project-name {
                        font-size: 19px;
                    }

                    & .project-description {
                        margin-bottom: auto;
                    }

                    & .card-icons {
                        align-self: flex-end;
                        display: flex;
                        gap: 25px;
                    }
                }
            }
        }

        & .announcements-section .announcements-card {
            padding: 10px 30px;

            & .announcement {
                padding: 15px 5px;

                & .announcement-title {
                    font-size: 15px;
                }

                & .announcement-content {
                    font-size: 13px;
                }
            }

            & > hr {
               border: 1px solid hsl(0, 0%, 85%);
            }
        }

        & .trending-section .trending-card {
            padding: 20px;

            & .trending-user {
                display: grid;
                grid-template-columns: 45px auto;
                column-gap: 15px;

                & .profile-picture {
                    grid-row: 1 / 3;
                }

                & + .trending-user {
                    margin-top: 25px;
                }
            }
        }
    }
}